@charset "UTF-8";

.form-login {
    float: none;
    display: block;
    margin: 12% auto auto auto;
}
.input-group {
    margin-bottom: 20px;
}

.login-header-h1 {
    text-align: center;
    margin-bottom: 30px;
}

.remember {
    margin-top: -10px;
}
